<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

        <link rel="stylesheet" href="../static/grace_dp_info.css">

        <!--Using FontAwesome----------->
        <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"> </script>
    </head>

    <body>
        <section class="small-logo">
            <!-- natigation------------------------>
            
            <nav>
                <!--logo-->
                <!--a href="" class="logo">Welcome to GDP</a-->
                <!--menu-->

                <!--form method="POST" action="/" class="form-inline">
                    <i class="fa fa-user"></i><pre> </pre>
                    <input type="text" id="username" placeholder="Username" name="username"><pre>  </pre>
                    <i class="fa fa-lock"></i><pre> </pre>
                    <input type="password" placeholder="Password" id="password" name="password"><pre>  </pre>
                    <span class="btn"><input type="submit" name="submit" value="Login" autofocus></span><pre>  </pre>
                    <button><a href="/register"> Register</a></button>
                </form-->
                
                <ul>

                    <!--li> <a href="#" class="active">Home</a> </li-->
                    <li> <a href="#">Information</a> </li>
                    <!--li> <a href="#">Contact us</a> </li-->
                    <li> <a href="#">Team</a> </li>
                    <li> <a href="/logout"> Logout </a></li>

                </ul>

            </nav>
            

            <div class="login">

            <form method="POST" action="/" class="form-inline">
                <i class="fa fa-user"></i><pre> </pre>
                <input type="text" id="username" placeholder="Username" name="username"><pre>  </pre>
                <i class="fa fa-lock"></i><pre> </pre>
                <input type="password" placeholder="Password" id="password" name="password"><pre>  </pre>
                <span class="btn"><input type="submit" name="submit" value="Login" autofocus></span><pre>  </pre>
                <button><a href="/register"> Register</a></button>
            </form>

            </div>

        </section>

        <section>

            <h1> Grace Deposit Protection Offerings</h1>

            <div class="box-container">
                <!--1----------------------->

                <div class="box-1">
                    <!--span>1</span-->
                    <p class="heading1"> Deposit Protection</p>
                    <p class="details1">More Info</p>
                    <button>Click here</button>
                </div>

                <!--2----------------------->

                <div class="box-2">
                    <!--span>2</span-->
                    <p class="heading1"> Deposit Lending</p>
                    <p class="details1">More Info</p>
                    <button>Click here</button>
                </div>

                <!--3----------------------->

                <div class="box-4">
                    <!--span>4</span-->
                    <p class="heading1"> Future Home Buyer</p>
                    <p class="details1">More info</p>
                    <button>CLick here</button>
                </div>

                <!--4----------------------->

                <div class="box-3">
                    <!--span>3</span-->
                    <p class="heading1"> Home Maintanace </p>
                    <p class="details1">More Info</p>
                    <button>Click here</button>
                </div>

            </div>

            <!--text--------------------------------->
            <!--div class="text-container">
                <p>Hello</p>
                <p>I am Tshepo</p>
                <p>I am a Web developer</p>
                <button class="hire-button">Hire</button>

            </div-->
            <!--model--------------------------->
            <!-- <img src="../static/Logomark_B&P.jpg" class="model" alt="model"> -->

        </section>

        <!--about-section-------------------------->

        <!---Services------->

        <!--div class="services">
            <Text>
            <div class="services-text">
                <p>Our Vision</p>
                <p>Vision of the company</p>
                <p>Our vision is to be the go to company for all the financial resources and advisory needs for
                    people to get their desired
                    rental homes. Our vision is to also play a special role assisting our customers to move from
                    being tenants to becoming home owners
                    and to finally start building their investment property portfolios.
                </p>
            </div-->
            <!--box-------------------------->

            <!--img------------------------>
            <!-- <img src="../static/email_1_for the website.jpg"> -->
            <!--About-text-->
            <!--div class="about-text">
                <p>About Grace Deposit</p><br>
                <p> Our Vision is to be the go to company for all the financial resources
                    and advisory needs for people to get to their desired rental homes.
                    Our vision is to also play a special role assisting our customers to move from being tenants
                    to becoming home owners and to finally start building their investment property portfolios.
                </p><br-->
                <!--button---------------->
                <!--button>Read more about the company</button>

            </div>
        </div>
    </section-->

        <!--Contact Us -------------->
        <div class="contact-us">
            <p> For more Information</p>
            <button>Contact us</button>
        </div>
        <!--Footer------------------->
        <footer>
            <!--p>Put Something here</p-->
            <p>Reach us on one of these platforms</p>
            <!--Social-------------->
            <div class="social-icons">

                <a href="#"> <i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>

            </div>
            <!--Copyright----------->
            <p class="copyright">Copyright</p>

        </footer>


        




    </body>

</html>
