<!DOCTYPE html>
<html>
    <title>{{ escape(title) }} </title>
    <link rel='stylesheet' type='text/css' href='{{ static_url('grace_dp_login.css') }}'>

<body>
    <div class="login-message"> 
        <p> .</p>
    </div>
    
<div class="login">
    <form method="POST" action="/login">
        <br>
        <label>Username</label><br><br>
        <input type="text" id="username" name="username"><br><br>
        <label>Password </label><br><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" name="submit" value="Submit" autofocus>
        <br>
    </form>
</div>
</body>
    <!-- JS scripts-->
    <!--script type="text/javascript" src="{{ static_url('grace_dp.js') }}"></script-->

</html>